﻿<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/61cd145cad.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/theme/css")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.1.1/exceljs.min.js"></script>
    <link href="~/Content/theme/css/plugins/switchery/switchery.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <link href="~/Content/css/common.css" rel="stylesheet" />


</head>

<body class="@ViewBag.LoadPage">
    <input type="hidden" id="config_site"
           data-authen-logout="@string.Format( System.Configuration.ConfigurationManager.AppSettings["AUTHEN_LOGOUT"],
                           HttpUtility.UrlEncode(Request.Url.AbsolutePath),
                           HttpUtility.UrlEncode(HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)))" />
    <div id="wrapper">

        @{ Html.RenderPartial("_MainMenu"); }

        <div id="page-wrapper" class="gray-bg">
            @{ Html.RenderPartial("_MenuBar"); }

            @RenderBody()
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <iframe id="LoginForm" style="width:100%;height:380px;border: none;"></iframe>
                </div>

            </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    @Scripts.Render("~/bundles/script/mainly")

    @Scripts.RenderFormat(@"<script src=""{0}"" async></script>", "~/js/" + ViewBag.Page)


    <!-- Custom and plugin javascript -->
    <script src="~/Content/theme/js/inspinia.js"></script>
    <script src="~/Content/theme/js/plugins/pace/pace.min.js"></script>
    <script src="~/Content/theme/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    @Scripts.Render("~/js/login")
</body>

</html>
