﻿@{ Layout = null; }

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <div class="nav metismenu" id="side-menu">
            <div class="nav-header " style="width:100%">
                <div class="dropdown profile-element">
                </div>
                <div class="logo-element">
                    VTC News
                </div>
            </div>
            <ul class="nav metismenu " id="side-menu">
                <li data-active="load-listCustomer" class="@(ViewBag.Active=="listCustomer" ? "active":"")">
                    <a href="/Home/GetListCustomer"><i class="fa-solid fa-address-book"></i> <span class="nav-label">Danh sách khách hàng</span></a>
                </li>
                <li data-active="load-revenueDebt" class="@(ViewBag.Active=="revenueDebt" ? "active":"")">
                    <a href="/Home/RevenueDebt"><i class="fa fa-dollar"></i> <span class="nav-label">Doanh thu-Công nợ</span></a>
                </li>
                <li data-active="load-contractTracking" class="@(ViewBag.Active=="contractTracking" ? "active":"")">
                    <a href="/Home/ContractTracking"><i class="fa fa-list-alt"></i> <span class="nav-label">Danh sách hợp đồng</span></a>
                </li>
                <li data-active="load-listStaff" class="@(ViewBag.Active=="listStaff" ? "active":"")">
                    <a href="/Home/GetListStaff"><i class="fa fa-list-alt"></i> <span class="nav-label">Danh sách nhân viên</span></a>
                </li>
                <li data-active="load-listOldDebt" class="@(ViewBag.Active=="listOldDebt" ? "active":"")">
                    <a href="/Home/GetListOldDebt"><i class="fa fa-list-alt"></i> <span class="nav-label">Danh sách nợ cũ</span></a>
                </li>
                <li data-active="load-serviceType" class="@(ViewBag.Active=="serviceType" ? "active":"")">
                    <a href="/Home/GetListServiceType"><i class="fa fa-list-alt"></i> <span class="nav-label">Danh sách dịch vụ</span></a>
                </li>
                <li data-active="load-revenueType" class="@(ViewBag.Active=="revenueType" ? "active":"")">
                    <a href="/Home/GetListRevenueType"><i class="fa fa-list-alt"></i> <span class="nav-label">Danh sách doanh thu</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var menuItems = document.querySelectorAll('ul#side-menu li[data-active] a');

    menuItems.forEach(function(item) {
        item.addEventListener('click', function() {
            localStorage.clear();
        });
    });
});
</script>