﻿@{ Layout = null; }
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header ">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-button-item " href="#"><i class="fa fa-bars "></i> <span class="nav-label" style="color:black;font-weight:bolder;"> </span></a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="/Home/Logout">
                        <i class="fa fa-sign-out "></i> Đăng xuất
                    </a>
                </li>
            </ul>
</nav>
</div>


