﻿@model ContractManagement.Models.ListStaffModel
@{
    Layout = null;
}
<div class="modal-content custom-form-size">
    <form class="forms-sample" id="editForm" method="post" action="/Home/ModifyKpiInfo">
        <div class="modal-header">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div>
                    <p class="bold mb-0" style="color: #1ab394; font-size: 20px;">THÔNG TIN NHÂN VIÊN-KPI</p>
                </div>
                <div>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Quay lại</button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row font">
                <div class="col-md-12 profile-1">
                    <div class="form-group text-center font uppercase">
                        <b>Nhân viên: @ViewBag.UserName</b>
                    </div>

                </div>
                <input type="hidden" value="@ViewBag.UserId" class="form-control" name="UserId" />
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI:</label>
                        <input type="text" value="@ViewBag.Kpi" placeholder="--Nhập KPI--" class="form-control" name="Kpi" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Năm:</label>
                        <input type="text" value="@ViewBag.Year" placeholder="--Nhập năm--" class="form-control" name="Year" autocomplete="off" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </form>
</div>