﻿@model ContractManagement.Models.ListStaff
@{
    Layout = null;
}
<div class="modal-content custom-form-size">
    <form class="forms-sample" id="editForm" method="post" action="/Home/AddStaffInfo">
        <div class="modal-header">
            <div style="display: flex; justify-content: center; align-items: center;">
                <p class="bold mb-0" style="color: #1ab394; font-size: 20px;">THÔNG TIN NHÂN VIÊN-KPI</p>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 profile-1">
                    <div class="form-group">
                        <label class="item-label">Nhân viên cần thêm mới:</label>
                        <select class="form-control" name="UserId" id="userId" style="width:100%; height:40px;">
                            <option value="">Chọn nhân viên</option>
                            @foreach (var item in ViewBag.ListStaff)
                            {
                                <option value="@item.Id" data-name="@item.Name" @(item.Id == Model.UserId ? "selected" : "")>@item.Id-@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <input type="hidden" id="userName" name="UserName" value="@Model.UserName" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#userId').change(function() {
            var selectedName = $(this).find('option:selected').data('name');
            $('#userName').val(selectedName);
        });
    });
</script>
