﻿@{
    ViewBag.Title = "Danh sách hợp đồng";
    ViewBag.Page = "load-contractTracking";
    ViewBag.Active = "contractTracking";
}
@model ContractManagement.Models.SearchContractTracking
<div class="wrapper wrapper-content animated fadeInRight wrapper-pc">
    <form class="forms-sample" id="form_search" method="post" action="/Home/ContractTracking">
        <div class="row">
            <div class="col-lg-12 profile">
                <div class="ibox ">
                    <div class="ibox-title p-title">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="Key" value="@Model.Key" placeholder="--Nhập tên khách hàng--" autocomplete="off">
                            </div>
                            <div>
                                <label style="text-align:center; width:100px;justify-content:center">Năm:</label>
                            </div>
                            <div>
                                <select class="form-control kpi-year" name="Year" id="selectedYear" style="width:100px">
                                    @for (int j = DateTime.Now.Year; j > 2021; j--)
                                    {
                                        <option value="@j">@j</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-search mg-left20">
                                    <i class="fa fa-search"></i> Tìm kiếm
                                </button>
                                @*<button class="add-staff btn btn-primary mg-left20" type="button">
            <i class="fa fa-plus"></i> Thêm mới
        </button>*@
                                <a href="/Home/GetListStaff" class="btn btn-danger mg-left20" id="clear">
                                    <i class="fa fa-close"></i> Bỏ lọc
                                </a>
                                <a href="~/Home/ExportContractTracking?year=@Model.Year" class="btn btn-primary" style="margin-left: 8px;">
                                    <i class="fa fa-download"></i> Tải xuống
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row font">
                            <div class="col-lg-12 profile">
                                <div class="ibox ">
                                    <div class="ibox-content" style="border:none">
                                        <div class="table-responsive">
                                            <table class="table table-hover border">
                                                <thead class="border">
                                                    <tr class="border">
                                                        <th class="border">STT</th>
                                                        <th  class="border">Tên khách hàng</th>
                                                        <th  class="border">Số hợp đồng</th>
                                                        <th  class="border">Năm</th>
                                                        <th  class="border">Ngày ký</th>
                                                        <th class="border">Ngày hết hạn</th>
                                                        <th  class="border">Giá trị hợp đồng</th>
                                                        <th  class="border">Lưu ý</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ var i = 0 + ((Model.CurrentPage - 1) * Model.PageSize);}
                                                    @foreach (var item in Model.Result)
                                                    {
                                                        i++;
                                                        <tr>
                                                            <td class="main">@i</td>
                                                            <td>@item.CustomerName</td>
                                                            <td>@item.ContractNumber</td>
                                                            <td>@item.Year</td>
                                                            <td>@(item.SigningDate.HasValue ? item.SigningDate.Value.ToString("dd/MM/yyyy") : "")</td>
                                                            <td>@(item.ExpiryDate.HasValue ? item.ExpiryDate.Value.ToString("dd/MM/yyyy") : "")</td>
                                                            <td>@(item.ContractValue.HasValue ? item.ContractValue.Value.ToString("N0"):"")</td>
                                                            <td>@item.Note</td>

                                                            <td>
                                                                <button type="button" class="view-ContractTracking btn btn-primary" style="width:80px" data-id="@item.ContractTrackingId" data-year="@item.Year">
                                                                    <i class="fa fa-street-view"></i> Xem
                                                                </button>
                                                                @*<button type="button" class="delete-staff btn btn-danger" style="margin-left:10px;width:80px" data-id="@item.ContractTrackingId">
                                                                    <i class="fa fa-remove"></i> Xóa
                                                                </button>*@
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        @{
                                            string url = "/Home/ContractTracking" + "?Key=" + Model.Key;
                                        }
                                        @Html.Raw(ContractManagement.Libs.Helpers.BuildPagging(Model.TotalPage, Model.CurrentPage, url))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

