﻿@{
    ViewBag.Title = "Danh sách doanh thu";
    ViewBag.Page = "load-serviceType";
    ViewBag.Active = "serviceType";
}
@model List<ContractManagement.Models.SubscriptionService>
<div class="row font">
    <div class="col-lg-12 profile">
        <div class="ibox ">
            <div>
                <div class="load-table-index">
                    <div class="ibox-content" style="border:none">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên loại dịch vụ</th>
                                        <th>Mô tả</th>
                                        <th>Ngày tạo</th>
                                        <th>
                                            <div class="col-md-12 " id="hide_user">
                                                <button class="add-serviceType btn btn-success" style="color: #ffffff; margin: 0px; margin-left: 10px; width: 130px; height: 40px " type="button">
                                                    <i class="fa fa-plus"></i> Thêm mới
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1; // Khai báo và khởi tạo biến i
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="main">
                                                @i
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td style="width:800px">
                                                @item.Description
                                            </td>
                                            <td >
                                                @(item.CreateDate != null ? item.CreateDate.Value.ToString("dd/MM/yyyy") : "")
                                            </td>

                                            <td>
                                                <button class="modify-serviceType btn btn-primary" style="margin-left:10px;width:130px;height:40px" data-id="@item.Id" type="button">
                                                    <i class="fa fa-refresh"></i> Sửa
                                                </button>
                                                <button type="button" class="delete-serviceType btn btn-danger " style="margin-left:10px;width:130px;height:40px" data-id="@item.Id">
                                                    <i class="fa fa-remove"></i> Xóa
                                                </button>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

