﻿@{
    ViewBag.Title = "Chi tiết khách hàng";
    ViewBag.Page = "load-customer";

}
@model ContractManagement.Models.Customers

<div class="ibox">
    @Html.HiddenFor(c => c.CustomerID)
    <input type="hidden" id="customerId" value="@Model.CustomerID" />
    <div class="border-frame">
        <div class="col-md-12" style="display:flex;justify-content:space-between">
            <h1 style="margin-left:400px; font-family: 'Times New Roman';"><b>THÔNG TIN KHÁCH HÀNG</b></h1><br /><br />
            <div>
                <button class="modify-customer btn btn-primary" style="height:30px; width:150px; margin-top:15px" data-id="@Model.CustomerID" type="button">
                    <i class="fa fa-refresh"></i> Sửa
                </button>
                <button type="button" id="goBackButton" style="height:30px; width:150px; margin-top:15px" class="btn btn-primary">
                    <i class="fa-solid fa-arrow-left"></i>
                    Quay lại
                </button>
            </div>
        </div>
        <div class="row font">
            <div class="col-md-6">
                <span>Tên khách hàng: @Model.CustomerName</span>
            </div>
            <div class="col-md-6">
                <span>Số điện thoại: @Model.Phone</span>
            </div>
            <div class="col-md-6">
                <span>Ngành hàng: @Model.IndustryName</span>
            </div>
            <div class="col-md-6">
                <span>Email: @Model.Email</span>
            </div>
            <div class="col-md-6">
                <span>Mã số thuế: @Model.TaxCode</span>
            </div>
            <div class="col-md-6">
                <span>Ngày kỷ niệm thành lập: @((Model.FoundationDate != null) ? Model.FoundationDate.Value.ToString("dd/MM/yyyy") : "")</span>
            </div>
            <div class="col-md-12">
                <span>Địa chỉ : @Model.Address</span>
            </div>
            <div class="col-md-12">
                <span>Doanh thu năm @((DateTime.Now.Year - 2)) : @String.Format("{0:#,##0}", Model.RevenueTwoYearsAgo) VNĐ</span>
            </div>

            <div class="col-md-12">
                <span>Doanh thu năm @((DateTime.Now.Year - 1))  : @String.Format("{0:#,##0}", Model.RevenueLastYear) VNĐ</span>
            </div>
            <div class="col-md-12">
                <span>Doanh thu năm @(DateTime.Now.Year)  : @String.Format("{0:#,##0}", Model.RevenueYear) VNĐ</span>
            </div>
        </div>
        <br />
        <hr />
        <h3 style="text-align: center; font-family: 'Times New Roman'; "><b>THÔNG TIN NGƯỜI LIÊN HỆ</b></h3>
        <br />
        <div>
            @foreach (var item in ViewBag.ListContactPerson)
            {
                <div class="row font">
                    <div class="col-md-6">
                        <span>Tên: @item.FullName</span>
                    </div>
                    <div class="col-md-6">
                        <span>Số điện thoại:@item.PhoneNumber</span>
                    </div>
                    <div class="col-md-6">
                        <span>Email: @item.EmailContact</span>
                    </div>
                    <div class="col-md-6">
                        @if (item.BirthDay != null)
                        {
                            <span>Ngày sinh: @item.BirthDay.ToString("dd/MM/yyyy")</span>
                        }
                        else
                        {
                            <span>Ngày sinh: </span>
                        }

                    </div>
                    <div class="col-md-12">
                        <span>Địa chỉ:@item.Address</span>
                    </div>
                </div>
                <br />
            }

        </div>
    </div>
</div>
