﻿@{
    ViewBag.Title = "Doanh thu công nợ";
    ViewBag.Page = "load-contract";

}
@model ContractManagement.Models.RevenueDebtModel

<div class="ibox">
    @Html.HiddenFor(c => c.RevenueDebtId)
    <input type="hidden" id="revenueDebtId" value="@Model.RevenueDebtId" />
    <input type="hidden" id="year" value="@Model.Year" />

    <div class="border-frame">
        <div class="col-md-12" style="display:flex;justify-content:space-between">
            <h2 style="margin-left:400px; font-family: 'Times New Roman';"><b>CHI TIẾT DOANH THU CÔNG NỢ</b></h2><br /><br />
            <div>
                <button class="modify-contract btn btn-primary" style="height:30px; width:150px; margin-top:15px" data-id="@Model.RevenueDebtId" data-year="@Model.Year" type="button">
                    <i class="fa fa-refresh"></i> Sửa
                </button>
                <button type="button" id="goBackButton" style="height:30px; width:150px; margin-top:15px" class="btn btn-primary">
                    <i class="fa-solid fa-arrow-left"></i>
                    Quay lại
                </button>
            </div>
        </div>
        <div class="row font">
            <div class="col-md-12">
                <span>Tên khách hàng: @Model.CustomerName</span>
            </div>
            <div class="col-md-6">
                <span>Số hợp đồng: @Model.ContractNumber</span>
            </div>
            <div class="col-md-6">
                <span>Năm: @Model.Year</span>
            </div>
            <div class="col-md-6">
                <span>Ngày ký : @((Model.SigningDate != null) ? Model.SigningDate.Value.ToString("dd/MM/yyyy") : "")</span>
            </div>
            <div class="col-md-6">
                <span>Ngày hết hạn: @((Model.ExpiryDate != null) ? Model.ExpiryDate.Value.ToString("dd/MM/yyyy") : "")</span>
            </div>
            <div class="col-md-6">
                <span>Giá trị hợp đồng : @(Model.ContractValue.HasValue ? Model.ContractValue.Value.ToString("N0"):0) VNĐ</span>
            </div>
            <div class="col-md-6">
                <span>Người khai thác: @Model.UserName</span>
            </div>
        </div>
        <hr />
        <h3 class="col-md-12 font ">DOANH THU XUẤT HÓA ĐƠN</h3>
        <div class="row font">
            <div class="col-md-6">
                <span>Tháng 1 : @(Model.Revenue1.HasValue ? Model.Revenue1.Value.ToString("N0"):0) VNĐ</span>
            </div>
            <div class="col-md-6">
                <span>Tháng 2 : @(Model.Revenue2.HasValue ? Model.Revenue2.Value.ToString("N0"):0) VNĐ</span>
            </div>
            <div class="col-md-6">
                <span>Tháng 3 : @(Model.Revenue3.HasValue ? Model.Revenue3.Value.ToString("N0"):0) VNĐ</span>
            </div>
            <div class="col-md-6">
                <span>Tháng 4 : @(Model.Revenue4.HasValue ? Model.Revenue4.Value.ToString("N0"):0) VNĐ</span>
            </div>
            <div class="col-md-6">
                <span>Tháng 5 : @(Model.Revenue5.HasValue ? Model.Revenue5.Value.ToString("N0"):0) VNĐ</span>
            </div>
            <div class="col-md-6">
                <span>Tháng 6 : @(Model.Revenue6.HasValue ? Model.Revenue6.Value.ToString("N0"):0) VNĐ</span>
            </div>
            <div class="col-md-6">
                <span>Tháng 7 : @(Model.Revenue7.HasValue ? Model.Revenue7.Value.ToString("N0"):0) VNĐ</span>
            </div>
            <div class="col-md-6">
                <span>Tháng 8 : @(Model.Revenue8.HasValue ? Model.Revenue8.Value.ToString("N0"):0) VNĐ</span>
            </div>
            <div class="col-md-6">
                <span>Tháng 9 : @(Model.Revenue9.HasValue ? Model.Revenue9.Value.ToString("N0"):0) VNĐ</span>
            </div>
            <div class="col-md-6">
                <span>Tháng 10 : @(Model.Revenue10.HasValue ? Model.Revenue10.Value.ToString("N0"):0) VNĐ</span>
            </div>
            <div class="col-md-6">
                <span>Tháng 11 : @(Model.Revenue11.HasValue ? Model.Revenue11.Value.ToString("N0"):0) VNĐ</span>
            </div>
            <div class="col-md-6">
                <span>Tháng 12 : @(Model.Revenue12.HasValue ? Model.Revenue12.Value.ToString("N0"):0) VNĐ</span>
            </div>
        </div>
        <br />
        <hr />
        <h3 class="col-md-12 font">CÔNG NỢ</h3>
        <div>
            <div class="row font">
                <div class="col-md-12">
                    <span>Công nợ : @Model.DebtValue.ToString("N0") VNĐ</span>
                </div>
                <div class="col-md-12">
                    <span>Đã thu: @Model.TotalDebtCollected.ToString("N0") VNĐ</span>
                </div>
                <div class="col-md-12">
                    <span>Phải thu: @Model.Receivables.ToString("N0") VNĐ</span>
                </div>
            </div>
            <h3 class="col-md-12 font">LỊCH SỬ THANH TOÁN CÔNG NỢ</h3>
            @foreach (var item in ViewBag.listDebt)
            {
                <div class="col-md-12 profile-2">
                    <div class="form-group row font-mg10">
                        <div class="item-label col-md-5">Số tiền: @item.DebtCollected.ToString("N0") VNĐ</div>
                        <div class="col-md-5">Thời gian: @(item.Time != null ? item.Time.ToString("dd/MM/yyyy") : "")</div>
                    </div>
                </div>
            }


        </div>
        <br />
        <hr />
        <h3 class="col-md-12 font">LOẠI DOANH THU</h3>
        <div>
            <div class="row font">
                @foreach (var item in ViewBag.listRevenue)
                {
                    <div class="col-md-12 profile-2">
                        <div class="form-group row font-mg10">
                            <div class="item-label col-md-5">Loại doanh thu: @item.TypeName:</div>
                            <div class="col-md-5">Giá trị doanh thu : @item.RevenueValue.ToString("N0") VNĐ</div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
