﻿@{
    ViewBag.Title = "Chi tiết nhân viên KPI";
    ViewBag.Page = "load-staff";
}
@model ContractManagement.Models.ListKpi


<div class="ibox">
    @Html.HiddenFor(c => c.Id)
    <input type="hidden" id="id" value="@Model.Id" />
    <input type="hidden" id="userId" name="userId" value="@Model.UserId" />
    <input type="hidden" id="year" name="year" value="@Model.Year" />
    <div class="border-frame">
        <div class="col-md-12" style="display:flex;justify-content:space-between">
            <h1 style="margin-left:400px; font-family: 'Times New Roman';"><b>THÔNG TIN NHÂN VIÊN-KPI</b></h1><br /><br />
            <div>
                <button class="modify-kpi btn btn-primary" style="height:30px; width:150px; margin-top:15px" data-id="@Model.Id" data-year="@Model.Year" type="button">
                    <i class="fa fa-refresh"></i> Sửa
                </button>
                <button type="button" id="goBackButton" style="height:30px; width:150px; margin-top:15px" class="btn btn-primary">
                    <i class="fa-solid fa-arrow-left"></i>
                    Quay lại
                </button>
            </div>
        </div>
        <div class="row font">
            <div class="col-md-6">
                <span>Tên nhân viên: @Model.UserName</span>
            </div>
            <div class="col-md-6">
                <span>Năm: <span id="yearSpan"></span></span>
            </div>
            <br />
            <hr>
            <div class="col-md-4">
                <span>Doanh thu tháng 1 : @(Model.TotalRevenue1 != 0 ? Model.TotalRevenue1.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span> KPI tháng 1: @(Model.Kpi1 != null && Model.Kpi1 != 0 ? Model.Kpi1.Value.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Tỉ lệ hoàn thành: @(Model.Kpi1 != null && Model.Kpi1 != 0 ? (Model.TotalRevenue1 / Model.Kpi1  * 100).Value.ToString("0.##") + "%" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Doanh thu tháng 2 : @(Model.TotalRevenue2 != 0 ? Model.TotalRevenue2.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span> KPI tháng 2: @(Model.Kpi2 != null && Model.Kpi2 != 0 ? Model.Kpi2.Value.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Tỉ lệ hoàn thành: @(Model.Kpi2 != null && Model.Kpi2 != 0 ? (Model.TotalRevenue2 / Model.Kpi2  * 100).Value.ToString("0.##") + "%" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Doanh thu tháng 3 : @(Model.TotalRevenue3 != 0 ? Model.TotalRevenue3.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span> KPI tháng 3: @(Model.Kpi3 != null && Model.Kpi3 != 0 ? Model.Kpi3.Value.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Tỉ lệ hoàn thành: @(Model.Kpi3 != null && Model.Kpi3 != 0 ? (Model.TotalRevenue3 / Model.Kpi3  * 100).Value.ToString("0.##") + "%" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Doanh thu tháng 4 : @(Model.TotalRevenue4 != 0 ? Model.TotalRevenue4.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span> KPI tháng 4: @(Model.Kpi4 != null && Model.Kpi4 != 0 ? Model.Kpi4.Value.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Tỉ lệ hoàn thành: @(Model.Kpi4 != null &&Model.Kpi4 != 0 ? (Model.TotalRevenue4 / Model.Kpi4  * 100).Value.ToString("0.##") + "%" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Doanh thu tháng 5 : @(Model.TotalRevenue5 != 0 ? Model.TotalRevenue5.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span> KPI tháng 5: @(Model.Kpi5 != null && Model.Kpi5 != 0 ? Model.Kpi5.Value.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Tỉ lệ hoàn thành: @(Model.Kpi5 != null && Model.Kpi5 != 0 ? (Model.TotalRevenue5 / Model.Kpi5  * 100).Value.ToString("0.##") + "%" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Doanh thu tháng 6 : @(Model.TotalRevenue6 != 0 ? Model.TotalRevenue6.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span> KPI tháng 6: @(Model.Kpi6 != null && Model.Kpi6 != 0 ? Model.Kpi6.Value.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Tỉ lệ hoàn thành: @(Model.Kpi6 != null && Model.Kpi6 != 0 ? (Model.TotalRevenue6 / Model.Kpi6  * 100).Value.ToString("0.##") + "%" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Doanh thu tháng 7 : @(Model.TotalRevenue7 != 0 ? Model.TotalRevenue7.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span> KPI tháng 7: @(Model.Kpi7 != null && Model.Kpi7 != 0 ? Model.Kpi7.Value.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Tỉ lệ hoàn thành: @(Model.Kpi7 != null && Model.Kpi7 != 0 ? (Model.TotalRevenue7 / Model.Kpi7  * 100).Value.ToString("0.##") + "%" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Doanh thu tháng 8 : @(Model.TotalRevenue8 != 0 ? Model.TotalRevenue8.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span> KPI tháng 8: @(Model.Kpi8 != null && Model.Kpi8 != 0 ? Model.Kpi8.Value.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Tỉ lệ hoàn thành: @(Model.Kpi8 != null && Model.Kpi8 != 0 ? (Model.TotalRevenue8 / Model.Kpi8  * 100).Value.ToString("0.##") + "%" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Doanh thu tháng 9 :@(Model.TotalRevenue9 != 0 ? Model.TotalRevenue9.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span> KPI tháng 9: @(Model.Kpi9 != null && Model.Kpi9 != 0 ? Model.Kpi9.Value.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Tỉ lệ hoàn thành: @(Model.Kpi9 != null && Model.Kpi9 != 0 ? (Model.TotalRevenue9 / Model.Kpi9  * 100).Value.ToString("0.##") + "%" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Doanh thu tháng 10 : @(Model.TotalRevenue10 != 0 ? Model.TotalRevenue10.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span> KPI tháng 10: @(Model.Kpi10 != null && Model.Kpi10 != 0 ? Model.Kpi10.Value.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Tỉ lệ hoàn thành: @(Model.Kpi10 != null && Model.Kpi10 != 0 ? (Model.TotalRevenue10 / Model.Kpi10  * 100).Value.ToString("0.##") + "%" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Doanh thu tháng 11 : @(Model.TotalRevenue11 != 0 ? Model.TotalRevenue11.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span> KPI tháng 11: @(Model.Kpi11 != null && Model.Kpi11 != 0 ? Model.Kpi11.Value.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Tỉ lệ hoàn thành: @(Model.Kpi11 != null && Model.Kpi11 != 0 ? (Model.TotalRevenue11 / Model.Kpi11  * 100).Value.ToString("0.##") + "%" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Doanh thu tháng 12 : @(Model.TotalRevenue12 != 0 ? Model.TotalRevenue1.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span> KPI tháng 12: @(Model.Kpi12 != null && Model.Kpi12 != 0 ? Model.Kpi12.Value.ToString("N0") + " VNĐ" : "")</span>
            </div>
            <div class="col-md-4">
                <span>Tỉ lệ hoàn thành: @(Model.Kpi12 != null && Model.Kpi12 != 0 ? (Model.TotalRevenue12 / Model.Kpi12  * 100).Value.ToString("0.##") + "%" : "")</span>
            </div>


        </div>
    </div>
</div>
