﻿@{
    ViewBag.Title = "Theo dõi thực hiện hợp đồng";
    ViewBag.Page = "load-contractTrackingProfile";

}
@model ContractManagement.Models.ContrackTrackingModel

<div class="ibox">
    @Html.HiddenFor(c => c.ContractTrackingId)
    <input type="hidden" id="contractTrackingId" value="@Model.ContractTrackingId" />
    <input type="hidden" id="year" value="@Model.Year" />

    <div class="border-frame">
        <div class="col-md-12" style="display:flex;justify-content:space-between">
            <h2 style="margin-left:400px; font-family: 'Times New Roman';"><b>THEO DÕI THỰC HIỆN HỢP ĐỒNG</b></h2><br /><br />
            <div>
                <button class="modify-contractTracking btn btn-primary" style="height:30px; width:150px; margin-top:15px" data-id="@Model.ContractTrackingId" data-year="@Model.Year" type="button">
                    <i class="fa fa-refresh"></i> Sửa
                </button>
                <button type="button" id="goBackButton" style="height:30px; width:150px; margin-top:15px" class="btn btn-primary">
                    <i class="fa-solid fa-arrow-left"></i>
                    Quay lại
                </button>
            </div>
        </div>
        <div class="row font">
            <div class="col-md-6">
                <span>Tên khách hàng: @Model.CustomerName</span>
            </div>
            <div class="col-md-6">
                <span>Số hợp đồng: @Model.ContractNumber</span>
            </div>
            <div class="col-md-6">
                <span>
                    @(Model.ContractValue != null && Model.ContractValue.HasValue? "Giá trị hợp đồng: " + Model.ContractValue.Value.ToString("N0"): "")
                </span>

            </div>
            <div class="col-md-6">
                <span>Năm: @Model.Year</span>
            </div>
            <div class="col-md-6">
                <span>Ngày ký : @((Model.SigningDate != null) ? Model.SigningDate.Value.ToString("dd/MM/yyyy") : "")</span>
            </div>
            <div class="col-md-6">
                <span>Ngày hết hạn: @((Model.ExpiryDate != null) ? Model.ExpiryDate.Value.ToString("dd/MM/yyyy") : "")</span>
            </div>
            <hr />

            <div class="col-md-12">
                <span>Ghi chú: @Model.Note</span>
            </div>
        </div>
        <br />
        <hr />
        <h3 class="col-md-12 font">CÁC DỊCH VỤ ĐĂNG KÝ-TRẠNG THÁI</h3>
        <div>
            <div class="row font">
                @foreach (var item in ViewBag.listService)
                {
                    <div class="col-md-12 profile-2">
                        <div class="form-group row font-mg10">
                            <div class="item-label col-md-5">Loại dịch vụ đăng ký: @item.TypeName</div>
                            <div class="col-md-5">
                                Trạng thái :
                                @if (@item.ServiceStatus == 1)
                                {
                                    <span>Đã thực hiện</span>
                                }
                                else if (@item.ServiceStatus == 0)
                                {
                                    <span>Chưa thực hiện</span>
                                }
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
