﻿    @{
    ViewBag.Title = "Danh sách nhân viên";
    ViewBag.Page = "load-listStaff";
    ViewBag.Active = "listStaff";
}
@model ContractManagement.Models.SearchStaff
<div class="wrapper wrapper-content animated fadeInRight wrapper-pc">
    <form class="forms-sample" id="form_search" method="post" action="/Home/GetListStaff">
        <div class="row">
            <div class="col-lg-12 profile">
                <div class="ibox ">
                    <div class="ibox-title p-title">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="Key" value="@Model.Key" placeholder="--Nhập tên nhân viên--" autocomplete="off">
                            </div>
                            <div>
                                <label style="text-align:center; width:100px;justify-content:center">Năm:</label>
                            </div>
                            <div>
                                <select class="form-control kpi-year" name="Year" id="selectedYear" style="width:100px">
                                    @for (int j = DateTime.Now.Year; j > 2021; j--)
                                    {
                                        <option @*value="@j"*@>@j</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-search mg-left20">
                                    <i class="fa fa-search"></i> Tìm kiếm
                                </button>
                                <button class="add-staff btn btn-primary mg-left20" type="button">
                                    <i class="fa fa-plus"></i> Thêm mới
                                </button>
                                <a href="/Home/GetListStaff" class="btn btn-danger mg-left20" id="clear">
                                    <i class="fa fa-close"></i> Bỏ lọc
                                </a>
                                <a href="~/Home/ExportListStaff?year=@Model.Year" class="btn btn-primary" style="margin-left: 8px;">
                                    <i class="fa fa-download"></i> Tải xuống
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row font">
                            <div class="col-lg-12 profile">
                                <div class="ibox ">
                                    <div class="ibox-content" style="border:none">
                                        <div class="table-responsive">
                                            <table class="table table-hover border">
                                                <thead class="border">
                                                    <tr class="border">
                                                        <th rowspan="2" class="border">STT</th>
                                                        <th rowspan="2" class="border">Họ và tên</th>
                                                        <th rowspan="2" class="border">Năm</th>
                                                        <th colspan="13" class="border">Doanh số (VNĐ)</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Tháng 1</th>
                                                        <th>Tháng 2</th>
                                                        <th>Tháng 3</th>
                                                        <th>Tháng 4</th>
                                                        <th>Tháng 5</th>
                                                        <th>Tháng 6</th>
                                                        <th>Tháng 7</th>
                                                        <th>Tháng 8</th>
                                                        <th>Tháng 9</th>
                                                        <th>Tháng 10</th>
                                                        <th>Tháng 11</th>
                                                        <th>Tháng 12</th>
                                                        <th>Tổng</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ var i = 0 + ((Model.CurrentPage - 1) * Model.PageSize);}
                                                    @foreach (var item in Model.Result)
                                                    {
                                                        i++;
                                                        <tr>
                                                            <td class="main">@i</td>
                                                            <td>@item.UserName</td>
                                                            <td>@item.Year</td>
                                                            <td>@item.TotalRevenue1.ToString("N0")</td>
                                                            <td>@item.TotalRevenue2.ToString("N0")</td>
                                                            <td>@item.TotalRevenue3.ToString("N0")</td>
                                                            <td>@item.TotalRevenue4.ToString("N0")</td>
                                                            <td>@item.TotalRevenue5.ToString("N0")</td>
                                                            <td>@item.TotalRevenue6.ToString("N0")</td>
                                                            <td>@item.TotalRevenue7.ToString("N0")</td>
                                                            <td>@item.TotalRevenue8.ToString("N0")</td>
                                                            <td>@item.TotalRevenue9.ToString("N0")</td>
                                                            <td>@item.TotalRevenue10.ToString("N0")</td>
                                                            <td>@item.TotalRevenue11.ToString("N0")</td>
                                                            <td>@item.TotalRevenue12.ToString("N0")</td>
                                                            <td>@item.TotalRevenueSum.ToString("N0")</td>
                                                            <td>
                                                                    <button type="button" class="view-staff btn btn-primary" style="width:70px" data-id="@item.Id" data-year="@item.Year">
                                                                        <i class="fa fa-street-view"></i> Xem
                                                                    </button>
                                                                <button type="button" class="delete-staff btn btn-danger" style="width:70px" data-id="@item.Id">
                                                                    <i class="fa fa-remove"></i> Xóa
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        @{
                                            string url = "/Home/GetListStaff" + "?Key=" + Model.Key;
                                        }
                                        @Html.Raw(ContractManagement.Libs.Helpers.BuildPagging(Model.TotalPage, Model.CurrentPage, url))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

