﻿@{
    ViewBag.Title = "Danh sách nợ cũ";
    ViewBag.Page = "load-listOldDebt";
    ViewBag.Active = "listOldDebt";

}
@model ContractManagement.Models.SearchOldDebt
<div class="wrapper wrapper-content animated fadeInRight wrapper-pc">
    <form class="forms-sample" id="form_search" method="post" action="/Home/GetListOldDebt">
        <div class="row">
            <div class="col-lg-12 profile">
                <div class="ibox ">
                    <div class="ibox-title p-title">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="Key" value="@Model.Key" placeholder="--Nhập tên khách hàng--" autocomplete="off">
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-search mg-left20">
                                    <i class="fa fa-search"></i> Tìm kiếm
                                </button>
                                <button class="add-oldDebt btn btn-primary mg-left20" type="button">
                                    <i class="fa fa-plus"></i> Thêm mới
                                </button>
                                <a href="/Home/GetListOldDebt" class="btn btn-danger mg-left20" id="clear">
                                    <i class="fa fa-close"></i> Bỏ lọc
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row font">
                            <div class="col-lg-12 profile">
                                <div class="ibox ">
                                    <div class="ibox-content" style="border:none">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">STT</th>
                                                        <th scope="col">Tên khách hàng</th>
                                                        <th scope="col">Tiền nợ</th>
                                                        <th scope="col">Năm</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ var i = 0 + ((Model.CurrentPage - 1) * Model.PageSize);}
                                                    @foreach (var item in Model.Result)
                                                    {
                                                        i++;
                                                        <tr>
                                                            <td scope="row">@i</td>
                                                            <td>@item.CustomerName</td>
                                                            <td>@item.OldDebtValue.Value.ToString("N0")</td>
                                                            <td>@item.Year</td>
                                                            <td>
                                                                <button type="button" class="modify-oldDebt btn btn-primary " style="width:70px" data-id="@item.OldDebtID">
                                                                    <i class="fa fa-street-view"></i> Sửa
                                                                </button>
                                                                <button type="button" class="delete-oldDebt btn btn-danger " style="width:70px" data-id="@item.OldDebtID">
                                                                    <i class="fa fa-remove"></i> Xóa
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        @{
                                            string url = "/Home/GetListOldDebt" +
                                             "?Key=" + Model.Key;
                                            ;
                                        }
                                        @Html.Raw(ContractManagement.Libs.Helpers.BuildPagging(Model.TotalPage, Model.CurrentPage, url))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>