﻿@model ContractManagement.Models.Service

@{

    Layout = null;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form class="forms-sample" id="editFormService" method="post" action="/Home/ModifyServiceInfo">
            <div class="modal-header">
                <div class="form-group text-center">
                    <p class="bold" style="color: #1ab394;font-size:20px">LOẠI DOANH THU</p>
                </div>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(c => c.ServiceId)
                <input type="hidden" value="@Model.ContractTrackingId" name="ContractTrackingId" id="serviceContractTrackingId" />
                <input type="hidden" value="@Model.ServiceId" name="ServiceId" />
                <div class="row">
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Loại dịch vụ:</label>
                            <select class="form-control" name="TypeId" id="typeId" style="width:100%; height:40px;">
                                <option value="">Chọn loại dịch vụ</option>
                                @foreach (var item in ViewBag.listServiceType)
                                {
                                    if (item.Id == Model.TypeId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Trạng thái dịch vụ:</label>
                            <select class="form-control" name="ServiceStatus">
                                <option value="0" @(Model.ServiceStatus == 0 ? "selected" : "")>Chưa thực hiện</option>
                                <option value="1" @(Model.ServiceStatus == 1 ? "selected" : "")>Đã thực hiện</option>
                                <!-- Thêm các option khác nếu cần -->
                            </select>
                        </div>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu</button>

            </div>



        </form>
    </div>
    <div>
    </div>
</div>
