﻿@model ContractManagement.Models.Debt

@{

    Layout = null;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form class="forms-sample" id="editFormDebt" method="post" action="/Home/ModifyDebtInfo">
            <div class="modal-header">
                <div class="form-group text-center">
                    <p class="bold" style="color: #1ab394;font-size:20px">THU CÔNG NỢ</p>
                </div>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(c => c.DebtID)
                <input type="hidden" value="@Model.RevenueDebtId" name="RevenueDebtId" id="debtRevenueDebtId" />
                <input type="hidden" value="@Model.DebtID" name="DebtId" />
                <div class="row">
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Số tiền thu:</label>
                            <input type="text" value="@Model.DebtCollected" placeholder="--Nhập số tiền thu--" class="form-control " name="DebtCollected" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Thời gian:</label>
                            <input type="date" value="@((Model.Time != null) ? Model.Time.Value.ToString("yyyy-MM-dd") : "")" placeholder="--Nhập thời gian--" class="form-control " name="Time" autocomplete="off" />
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu</button>

            </div>



        </form>
    </div>
    <div>
    </div>
</div>
