﻿
@{
    ViewBag.Title = "Chi tiết thực hiện hợp đồng";
    ViewBag.Page = "load-modifyContractTracking";
    ViewBag.Active = "modifyContractTracking";
    ViewBag.ContractTrackingId = Model.ContractTrackingId;
}
@model ContractManagement.Models.ContrackTrackingModel
<div class="modal-content">
    <form class="forms-sample" id="editForm" method="post" action="/Home/ModifyContractTrackingInfo">
        <input type="hidden" id="contractTrackingId" name="ContractTrackingId" value=" @Model.ContractTrackingId" />
        <div class="modal-header">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div>
                    <p class="bold mb-0" style="color: #1ab394; font-size: 20px;">CHI TIẾT THỰC HIỆN HỢP ĐỒNG</p>
                </div>
                <div>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Quay lại</button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row font-mg0">
                <div class="col-md-12 profile-1">
                    <div class="form-group text-center font uppercase">
                        <b>Khách hàng: @Model.CustomerName</b>
                    </div>

                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Số hợp đồng:</label>
                        <input type="text" placeholder="--Nhập số hợp đồng--" class="form-control" id="contractNumber" name="ContractNumber" autocomplete="off" value="@Model.ContractNumber" readonly />
                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Ngày ký:</label>
                        <input type="date" placeholder="--Nhập ngày ký hợp đồng--" class="form-control" id="signingDate" name="SigningDate" autocomplete="off" value="@((Model.SigningDate != null) ? Model.SigningDate.Value.ToString("yyyy-MM-dd") : "")" readonly />
                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Ngày hết hạn:</label>
                        <input type="date" placeholder="--Nhập ngày hết hạn hợp đồng--" class="form-control" id="expiryDate" name="ExpiryDate" autocomplete="off" value="@((Model.ExpiryDate != null) ? Model.ExpiryDate.Value.ToString("yyyy-MM-dd") : "")" readonly />
                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Giá trị hợp đồng:</label>
                        <input type="text" placeholder="--Nhập giá trị hợp đồng--" class="form-control" id="contractValue" name="ContractValue" autocomplete="off" value="@Model.ContractValue" readonly />
                    </div>
                </div>
                <div class="col-md-12 profile-1">
                    <div class="form-group">
                        <label class="item-label">Ghi chú:</label>
                        <textarea placeholder="--Nhập ghi chú --" class="form-control" id="note" name="Note" autocomplete="off">@Model.Note</textarea>

                    </div>
                </div>
            </div>
            <div style="border:1px solid #e5e3e3">
                <div class="col-md-12 ">
                    <div class="form-group text-center">
                        <p class="bold" style="color: #1ab394; font-size: 20px; margin-top: 10px">DỊCH VỤ ĐĂNG KÝ</p>
                    </div>
                </div>

                <div class="row">

                    @foreach (var item in ViewBag.listService)
                    {
                        <div class="col-md-12 profile-2">
                            <div class="form-group row font-mg10">
                                <div class="item-label col-md-5">Loại dịch vụ: @item.TypeName:</div>
                                <div class="col-md-5">
                                    Trạng thái :
                                    @if (@item.ServiceStatus == 1)
                                    {
                                        <span>Đã thực hiện</span>
                                    }
                                    else if (@item.ServiceStatus == 0)
                                    {
                                        <span>Chưa thực hiện</span>
                                    }
                                </div>

                                <div class="col-md-1">
                                    <button type="button" class="modify-service btn btn-primary" data-id="@item.ServiceId">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        Sửa
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="delete-service btn btn-danger" data-id="@item.ServiceId">
                                        <i class="fa-solid fa-trash-can"></i>
                                        Xóa
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    <button class="btn btn-light add-service" style="color: #1ab394; margin-top: 10px" data-year="" type="button">
                        <i class="fa fa-plus"></i> Thêm dịch vụ
                    </button>

                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </form>
</div>