﻿@model ContractManagement.Models.KPI
@{
    Layout = null;
}
<div class="modal-content custom-form-size">
    <form class="forms-sample" id="editForm" method="post" action="/Home/ModifyKpiInfo">
        <div class="modal-header">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div>
                    <p class="bold mb-0" style="color: #1ab394; font-size: 20px;">THÔNG TIN NHÂN VIÊN-KPI</p>
                </div>
            </div>
        </div>
        <input type="hidden" value="@Model.Id" class="form-control" name="Id" id="id" />
        <div class="modal-body">
            <div class="row font">
                <div class="col-md-12 profile-1">
                    <div class="form-group text-center font uppercase">
                        <b>Nhân viên: @ViewBag.UserName</b>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Năm:</label>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <input type="hidden" id="yearInput" class="form-control" name="Year" autocomplete="off"  />
                    </div>
                </div>
                <input type="hidden" value="@ViewBag.UserId" class="form-control" name="UserId" />
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI tháng 1:</label>
                        <input type="text" value="@Model.Kpi1" placeholder="--Nhập KPI tháng 1--" class="form-control" name="Kpi1" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI tháng 2:</label>
                        <input type="text" value="@Model.Kpi2" placeholder="--Nhập KPI tháng 2--" class="form-control" name="Kpi2" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI tháng 3:</label>
                        <input type="text" value="@Model.Kpi3" placeholder="--Nhập KPI tháng 3--" class="form-control" name="Kpi3" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI tháng 4:</label>
                        <input type="text" value="@Model.Kpi4" placeholder="--Nhập KPI tháng 4--" class="form-control" name="Kpi4" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI tháng 5:</label>
                        <input type="text" value="@Model.Kpi5" placeholder="--Nhập KPI tháng 5--" class="form-control" name="Kpi5" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI tháng 6:</label>
                        <input type="text" value="@Model.Kpi6" placeholder="--Nhập KPI tháng 6--" class="form-control" name="Kpi6" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI tháng 7:</label>
                        <input type="text" value="@Model.Kpi7" placeholder="--Nhập KPI tháng 7--" class="form-control" name="Kpi7" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI tháng 8:</label>
                        <input type="text" value="@Model.Kpi8" placeholder="--Nhập KPI tháng 8--" class="form-control" name="Kpi8" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI tháng 9:</label>
                        <input type="text" value="@Model.Kpi9" placeholder="--Nhập KPI tháng 9--" class="form-control" name="Kpi9" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI tháng 10:</label>
                        <input type="text" value="@Model.Kpi10" placeholder="--Nhập KPI tháng 10--" class="form-control" name="Kpi10" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI tháng 11:</label>
                        <input type="text" value="@Model.Kpi11" placeholder="--Nhập KPI tháng 11--" class="form-control" name="Kpi11" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group text-center">
                        <label class="item-label"> Nhập KPI tháng 12:</label>
                        <input type="text" value="@Model.Kpi12" placeholder="--Nhập KPI tháng 12--" class="form-control" name="Kpi12" autocomplete="off" />
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-id="@Model.Id" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </form>
</div>
<script>
    var storedYear = localStorage.getItem("selectedYear");
    var year=document.getElementById()
    var yearInput = document.getElementById("yearInput");
    if (storedYear) {
        yearInput.value = storedYear;
    } else {
        var currentYear = new Date().getFullYear();
        yearInput.value = currentYear;
    }
</script>