﻿@{
    ViewBag.Title = "Thông tin khách hàng";
    ViewBag.Page = "load-modifyCustomer";
    ViewBag.Active = "modifyCustomer";
    ViewBag.customerID = Model.CustomerID;
}
@model ContractManagement.Models.Customer

<div class="modal-content">
    <form class="forms-sample" id="editForm" method="post" action="/Home/ModifyCustomerInfo">
        <div class="modal-header">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div>
                    <p class="bold mb-0" style="color: #1ab394; font-size: 20px;">THÔNG TIN KHÁCH HÀNG</p>
                </div>

                <div>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Quay lại</button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            @if (Model.CustomerID != 0)
            {
                @Html.HiddenFor(c => c.CustomerID)
                <input type="hidden" id="customerId" name="CustomerID" value=" @Model.CustomerID" />
            }
            <div class="row">
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Tên khách hàng:</label>
                        <input type="text" placeholder="--Nhập tên khách hàng--" class="form-control" id="customerName" name="CustomerName" autocomplete="off" value="@Model.CustomerName" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Ngành hàng cần thêm mới:</label>
                        <select class="form-control" name="IndustryID" id="IndustryID" style="width:100%; height:40px;">
                            <option value="">Chọn ngành hàng cần thêm mới</option>
                            @foreach (var item in ViewBag.ListIndustry)
                            {
                                if (item.Id == Model.IndustryID)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Địa chỉ khách hàng:</label>
                        <input type="text" placeholder="--Nhập địa chỉ khách hàng--" class="form-control" id="address" name="Address" autocomplete="off" value="@Model.Address" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Mã số thuế:</label>
                        <input type="text" placeholder="--Nhập mã số thuế khách hàng--" class="form-control" id="taxCode" name="TaxCode" autocomplete="off" value="@Model.TaxCode" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Số điện thoại:</label>
                        <input type="text" placeholder="--Nhập số điện thoại khách hàng--" class="form-control" id="phone" name="Phone" autocomplete="off" value="@Model.Phone" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Email:</label>
                        <input type="text" placeholder="--Nhập email khách hàng--" class="form-control" id="email" name="Email" autocomplete="off" value="@Model.Email" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Ngày kỷ niệm thành lập:</label>
                        <input type="date" placeholder="--Nhập ngày kỷ niệm thành lập--" class="form-control" id="foundationDate" name="FoundationDate" autocomplete="off" value="@((Model.FoundationDate != null) ? Model.FoundationDate.Value.ToString("yyyy-MM-dd") : "")" />
                    </div>
                </div>
            </div>
            <div style="border:1px solid #e5e3e3">
                <div class="col-md-12 ">
                    <div class="form-group text-center">
                        <p class="bold" style="color: #1ab394; font-size: 20px; margin-top: 10px">NGƯỜI LIÊN HỆ</p>
                    </div>
                </div>
                <div class="row font-mg10">
                    @foreach (var item in ViewBag.ListContactPerson)
                    {

                        <div class="col-md-12 profile-2">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <span>Tên: @item.FullName</span>
                                </div>
                                <div class="col-md-4">
                                    <span>Số điện thoại:@item.PhoneNumber</span>
                                </div>

                                <div class="col-md-1">
                                    <button type="button" class="modify-contactPerson btn btn-primary" data-id="@item.PersonID">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        Sửa
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="delete-contactPerson btn btn-danger" data-id="@item.PersonID">
                                        <i class="fa-solid fa-trash-can"></i>
                                        Xóa
                                    </button>
                                </div>

                            </div>
                        </div>

                    }
                </div>
                <div class="col-md-12 profile-2 font-mg10">
                    <button type="button" class="add-contactPerson btn btn-light" style="color: #1ab394">
                        <i class="fa fa-plus"></i> Thêm người liên hệ
                    </button>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu</button>

        </div>
    </form>
</div>

