﻿@{
    Layout = null;
}
@model ContractManagement.Models.SubscriptionService

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form class="forms-sample" id="editForm" method="post" action="/Home/ModifyServiceTypeInfo">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <div class="form-group text-center">
                    <p class="bold" style="color: #1ab394; font-size:20px">THÊM LOẠI DỊCH VỤ</p>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" class="form-control" id="id" name="Id" autocomplete="off" value="@Model.Id" />
                    <div class="col-md-12 profile-1">
                        <div class="form-group">
                            <label class="item-label">Tên dịch vụ:</label>
                            <input type="text" placeholder="--Nhập tên dịch vụ--" class="form-control" id="name" name="Name" autocomplete="off" value="@Model.Name" />
                        </div>
                    </div>
                    <div class="col-md-12 profile-1">
                        <div class="form-group">
                            <label class="item-label">Mô tả dịch vụ:</label>
                            <textarea class="form-control" id="description" name="Description" placeholder="--Nhập mô tả dịch vụ--" autocomplete="off">@Model.Description</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </form>
    </div>
</div>

