﻿@model ContractManagement.Models.Revenue

@{

    Layout = null;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form class="forms-sample" id="editFormRevenue" method="post" action="/Home/ModifyRevenueInfo">
            <div class="modal-header">
                <div class="form-group text-center">
                    <p class="bold" style="color: #1ab394;font-size:20px">LOẠI DOANH THU</p>
                </div>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(c => c.RevenueId)
                <input type="hidden" value="@Model.RevenueDebtId" name="RevenueDebtId" id="revenueRevenueDebtId" />
                <input type="hidden" value="@Model.RevenueId" name="RevenueId" />
                <div class="row">
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Loại doanh thu:</label>
                            <select class="form-control" name="TypeId" id="typeId" style="width:100%; height:40px;">
                                <option value="">Chọn loại doanh thu</option>
                                @foreach (var item in ViewBag.listRevenueType)
                                {
                                    if (item.Id == Model.TypeId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Giá trị doanh thu:</label>
                            <input type="text" value="@Model.RevenueValue" placeholder="--Nhập giá trị doanh thu--" class="form-control " name="RevenueValue" autocomplete="off" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu</button>

            </div>



        </form>
    </div>
    <div>
    </div>
</div>
