﻿@model ContractManagement.Models.ContactPerson

@{

    Layout = null;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form class="forms-sample" id="editFormContactPerson" method="post" action="/Home/ModifyContactPersonInfo">
            <div class="modal-header">
                <div class="form-group text-center">
                    <p class="bold" style="color: #1ab394;font-size:20px">THÔNG TIN NGƯỜI LIÊN HỆ</p>
                </div>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(c => c.PersonID)
                <input type="hidden" value="@Model.CustomerID" name="CustomerID" id="contactPersonCustomerID" />
                <input type="hidden" value="@Model.PersonID" name="id" />
                <div class="row">
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Tên:</label>
                            <input type="text" value="@Model.FullName" placeholder="--Nhập tên --" class="form-control " name="FullName" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Số điện thoại:</label>
                            <input type="text" value="@Model.PhoneNumber" placeholder="--Nhập số điện thoại--" class="form-control " name="PhoneNumber" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Email:</label>
                            <input type="text" value="@Model.EmailContact" placeholder="--Nhập Email--" class="form-control " name="EmailContact" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Địa chỉ:</label>
                            <input type="text" value="@Model.Address" placeholder="--Nhập địa chỉ--" class="form-control " name="Address" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Ngày sinh:</label>
                            <input type="date" value="@((Model.BirthDay != null) ? Model.BirthDay.Value.ToString("yyyy-MM-dd") : "")" placeholder="--Nhập ngày sinh--" class="form-control" name="BirthDay" autocomplete="off" />

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu</button>

            </div>



        </form>
    </div>
    <div>
    </div>
</div>
