﻿@model ContractManagement.Models.OldDebt

@{

    Layout = null;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form class="forms-sample" id="editForm" method="post" action="/Home/ModifyOldDebtInfo">
            <div class="modal-header">
                <div class="form-group text-center">
                    <p class="bold" style="color: #1ab394;font-size:20px">NỢ NĂM TRƯỚC</p>
                </div>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(c => c.OldDebtID)
                <input type="hidden" value="@Model.OldDebtID" name="OldDebtID" id="oldDebt" />
                <div class="row">
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Tên khách hàng:</label>
                            <select class="form-control" name="CustomerID" id="customerID" style="width:100%; height:40px;">
                                <option value="">Chọn khách hàng cần thêm mới</option>
                                @foreach (var item in ViewBag.ListCustomer)
                                {
                                    if (item.CustomerID == Model.CustomerID)
                                    {
                                        <option value="@item.CustomerID" selected>@item.CustomerName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.CustomerID">@item.CustomerName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Tiền nợ:</label>
                            <input type="text" value="@Model.OldDebtValue" placeholder="--Nhập số tiền nợ--" class="form-control " name="OldDebtValue" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Năm:</label>
                            <select class="form-control" name="Year" id="year" autocomplete="off">
                                <option value="">--Chọn năm--</option>
                                @for (var year = DateTime.Now.Year - 5; year <= DateTime.Now.Year + 5; year++)
                                {
                                    <option value="@year" @(year == Model.Year ? "selected" : "")>@year</option>
                                }
                            </select>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu</button>

            </div>



        </form>
    </div>
    <div>
    </div>
</div>
