﻿@{
    ViewBag.Title = "Thông tin hợp đồng";
    ViewBag.Page = "load-modifyContract";
    ViewBag.Active = "modifyContract";
    ViewBag.RevenueDebtId = Model.RevenueDebtId;
}
@model ContractManagement.Models.RevenueDebtModel

<div class="modal-content">
    <form class="forms-sample" id="editForm" method="post" action="/Home/ModifyContractInfo">
        <input type="hidden" id="revenueDebtId" name="RevenueDebtId" value=" @Model.RevenueDebtId" />
        <input type="hidden" id="year" name="Year" value=" @Model.Year" />
        <div class="modal-header">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div>
                        <p class="bold mb-0" style="color: #1ab394; font-size: 20px;">SỬA THÔNG TIN HỢP ĐỒNG</p>
                </div>

                <div>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Quay lại</button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            @if (Model.RevenueDebtId != 0)
            {
                @Html.HiddenFor(c => c.RevenueDebtId)
                <input type="hidden" id="Id" name="Id" value=" @Model.RevenueDebtId" />
            }
            <div class="row font-mg0">

                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Tên khách hàng:</label>
                        <select class="form-control" name="CustomerID" id="customerID" style="width:100%; height:40px;">
                            <option value="">Chọn khách hàng cần thêm mới</option>
                            @foreach (var item in ViewBag.ListCustomer)
                            {
                                if (item.CustomerID == Model.CustomerID)
                                {
                                    <option value="@item.CustomerID" selected>@item.CustomerName</option>
                                }
                                else
                                {
                                    <option value="@item.CustomerID">@item.CustomerName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Số hợp đồng:</label>
                        <input type="text" placeholder="--Nhập số hợp đồng--" class="form-control" id="contractNumber" name="ContractNumber" autocomplete="off" value="@Model.ContractNumber" />
                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Ngày ký:</label>
                        <input type="date" placeholder="--Nhập ngày ký hợp đồng--" class="form-control" id="signingDate" name="SigningDate" autocomplete="off" value="@((Model.SigningDate != null) ? Model.SigningDate.Value.ToString("yyyy-MM-dd") : "")" />
                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Ngày hết hạn:</label>
                        <input type="date" placeholder="--Nhập ngày hết hạn hợp đồng--" class="form-control" id="expiryDate" name="ExpiryDate" autocomplete="off" value="@((Model.ExpiryDate != null) ? Model.ExpiryDate.Value.ToString("yyyy-MM-dd") : "")" />
                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Giá trị hợp đồng:</label>
                        <input type="text" placeholder="--Nhập giá trị hợp đồng--" class="form-control" id="contractValue" name="ContractValue" autocomplete="off" value="@Model.ContractValue" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Người khai thác:</label>
                        <select class="form-control" name="UserId" id="userId" style="width:100%; height:40px;">
                            <option value="">Chọn người khai thác</option>
                            @foreach (var item in ViewBag.staff)
                            {
                                if (item.UserId == Model.UserId)
                                {
                                    <option value="@item.UserId" selected>@item.UserName</option>
                                }
                                else
                                {
                                    <option value="@item.UserId">@item.UserName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-12 profile-1">
                    <div class="form-group">
                        <label class="item-label">Năm:</label>
                        <select class="form-control" name="Year" id="year" autocomplete="off">
                            <option value="">--Chọn năm--</option>
                            @for (var year = DateTime.Now.Year - 5; year <= DateTime.Now.Year + 5; year++)
                            {
                                <option value="@year" @(year == Model.Year ? "selected" : "")>@year</option>
                            }
                        </select>
                      </div>
                </div>

                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Doanh thu tháng 1:</label>
                        <input type="text" placeholder="--Nhập doanh thu tháng 1--" class="form-control" id="revenue1" name="Revenue1" autocomplete="off" value="@Model.Revenue1" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Doanh thu tháng 2:</label>
                        <input type="text" placeholder="--Nhập doanh thu tháng 2--" class="form-control" id="revenue2" name="Revenue2" autocomplete="off" value="@Model.Revenue2" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Doanh thu tháng 3:</label>
                        <input type="text" placeholder="--Nhập doanh thu tháng 3--" class="form-control" id="revenue3" name="Revenue3" autocomplete="off" value="@Model.Revenue3" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Doanh thu tháng 4:</label>
                        <input type="text" placeholder="--Nhập doanh thu tháng 4--" class="form-control" id="revenue4" name="Revenue4" autocomplete="off" value="@Model.Revenue4" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Doanh thu tháng 5:</label>
                        <input type="text" placeholder="--Nhập doanh thu tháng 5--" class="form-control" id="revenue5" name="Revenue5" autocomplete="off" value="@Model.Revenue5" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Doanh thu tháng 6:</label>
                        <input type="text" placeholder="--Nhập doanh thu tháng 6--" class="form-control" id="revenue6"  name="Revenue6" autocomplete="off" value="@Model.Revenue6" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Doanh thu tháng 7:</label>
                        <input type="text" placeholder="--Nhập doanh thu tháng 7--" class="form-control" id="revenue7" name="Revenue7" autocomplete="off" value="@Model.Revenue7" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Doanh thu tháng 8:</label>
                        <input type="text" placeholder="--Nhập doanh thu tháng 8--" class="form-control" id="revenue8" name="Revenue8" autocomplete="off" value="@Model.Revenue8" />

                    </div>
                </div>

                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Doanh thu tháng 9:</label>
                        <input type="text" placeholder="--Nhập doanh thu tháng 9--" class="form-control" id="revenue9" name="Revenue9" autocomplete="off" value="@Model.Revenue9" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Doanh thu tháng 10:</label>
                        <input type="text" placeholder="--Nhập doanh thu tháng 10--" class="form-control" id="revenue10" name="Revenue10" autocomplete="off" value="@Model.Revenue10" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Doanh thu tháng 11:</label>
                        <input type="text" placeholder="--Nhập doanh thu tháng 11--" class="form-control" id="revenue11" name="Revenue11" autocomplete="off" value="@Model.Revenue11" />

                    </div>
                </div>
                <div class="col-md-6 profile-1">
                    <div class="form-group">
                        <label class="item-label">Doanh thu tháng 12:</label>
                        <input type="text" placeholder="--Nhập doanh thu tháng 12--" class="form-control" id="revenue12" name="Revenue12" autocomplete="off" value="@Model.Revenue12" />

                    </div>

                </div>
            </div>
            <div style="border:1px solid #e5e3e3">
                <div class="col-md-12 ">
                    <div class="form-group text-center">
                        <p class="bold" style="color: #1ab394; font-size: 20px; margin-top: 10px">LỊCH SỬ THANH TOÁN CÔNG NỢ</p>
                    </div>
                </div>

                <div class="row font-mg10">
                    @*<div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Đã thu:</label>
                            <input type="text" class="form-control" name="TotalDebtCollected" autocomplete="off" value="@Model.TotalDebtCollected" readonly />
                        </div>
                    </div>
                    <div class="col-md-6 profile-1">
                        <div class="form-group">
                            <label class="item-label">Phải thu:</label>
                            <input type="text" class="form-control" name="Receivables" autocomplete="off" value="@Model.Receivables" readonly />
                        </div>
                    </div>*@
                    @foreach (var item in ViewBag.listDebt)
                    {
                        <div class="col-md-12 profile-2">
                            <div class="form-group row font-mg0">
                                <div class="item-label col-md-5">Số tiền thu: @item.DebtCollected.ToString("N0")</div>
                                <div class="col-md-5">Thời gian: @(item.Time != null ? item.Time.ToString("dd/MM/yyyy") : "")</div>
                                <div class="col-md-1">
                                    <button type="button" class="modify-debt btn btn-primary" data-id="@item.DebtID">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        Sửa
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="delete-debt btn btn-danger" data-id="@item.DebtID">
                                        <i class="fa-solid fa-trash-can"></i>
                                        Xóa
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    <button class="btn btn-light add-debt" style="color: #1ab394; margin-top: 10px" type="button">
                        <i class="fa fa-plus"></i> Thêm số tiền thanh toán
                    </button>

                </div>

            </div>
            <div style="border:1px solid #e5e3e3">
                <div class="col-md-12 ">
                    <div class="form-group text-center">
                        <p class="bold" style="color: #1ab394; font-size: 20px; margin-top: 10px">PHÂN LOẠI DOANH THU</p>
                    </div>
                </div>

                <div class="row font-mg10">

                    @foreach (var item in ViewBag.listRevenue)
                    {
                        <div class="col-md-12 profile-2">
                            <div class="form-group row font-mg0">
                                <div class="item-label col-md-5">Loại doanh thu: @item.TypeName</div>
                                <div class="col-md-5">Giá trị doanh thu : @item.RevenueValue.ToString("N0")</div>
                                <div class="col-md-1">
                                    <button type="button" class="modify-revenue btn btn-primary" data-id="@item.RevenueId" >
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        Sửa
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="delete-revenue btn btn-danger" data-id="@item.RevenueId">
                                        <i class="fa-solid fa-trash-can"></i>
                                        Xóa
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    <button class="btn btn-light add-revenue" style="color: #1ab394; margin-top: 10px"  type="button">
                        <i class="fa fa-plus"></i> Thêm loại doanh thu
                    </button>

                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">@((Model.CustomerID == 0) ? "Thêm mới" : "Lưu")</button>

        </div>
    </form>
</div>
