﻿@{
    ViewBag.Title = "Doanh thu-Công nợ";
    ViewBag.Page = "load-revenueDebt";
    ViewBag.Active = "revenueDebt";

}
@model ContractManagement.Models.SearchRevenueDebt
<div class="wrapper wrapper-content animated fadeInRight wrapper-pc">
    <form class="forms-sample" id="form_search" method="post" action="/Home/RevenueDebt">
        <div class="row">
            <div class="col-lg-12 profile">
                <div class="ibox ">
                    <div class="ibox-title p-title">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="Key" value="@Model.Key" placeholder="--Nhập tên khách hàng--" autocomplete="off">
                            </div>
                            <div>
                                <label style="text-align:center; width:100px;justify-content:center">Năm:</label>
                            </div>
                            <div>
                                <select class="form-control kpi-year" name="Year" id="selectedYear" style="width:100px">
                                    @for (int j = DateTime.Now.Year; j > 2021; j--)
                                    {
                                        <option value="@j">@j</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-search mg-left20">
                                    <i class="fa fa-search"></i> Tìm kiếm
                                </button>
                                <button class="add-contract btn btn-primary mg-left20" data-year="@Model.Year" type="button">
                                    <i class="fa fa-plus"></i> Thêm mới hợp đồng
                                </button>
                                <a href="/Home/GetListRevenueDebt" class="btn btn-danger mg-left20" id="clear">
                                    <i class="fa fa-close"></i> Bỏ lọc
                                </a>
                                <a href="~/Home/ExportRevenueDebt?year=@Model.Year" class="btn btn-primary" style="margin-left: 8px;" data-year="@Model.Year">
                                    <i class="fa fa-download"></i> Tải xuống
                                </a>
                            </div>
                        </div>
                    </div>
             
                    <div class="ibox-content">
                        <div class="row font">
                            <div class="col-lg-12 profile">
                                <div class="ibox ">
                                    <div class="ibox-content" style="border:none">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">STT</th>
                                                        <th scope="col">Tên khách hàng</th>
                                                        <th scope="col">Số hợp đồng</th>
                                                        <th scope="col">Năm</th>
                                                        <th scope="col">Ngày ký</th>
                                                        <th scope="col">Ngày hết hạn</th>
                                                        <th scope="col">Giá trị hợp đồng (VNĐ)</th>
                                                        <th scope="col">Người khai thác</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ var i = 0 + ((Model.CurrentPage - 1) * Model.PageSize);}
                                                    @foreach (var item in Model.Result)
                                                    {
                                                        i++;
                                                        <tr>
                                                            <td scope="row">@i</td>
                                                            <td>@item.CustomerName</td>
                                                            <td>@item.ContractNumber</td>
                                                            <td>@item.Year</td>
                                                            <td>@(item.SigningDate.HasValue ? item.SigningDate.Value.ToString("dd/MM/yyyy") : "")</td>
                                                            <td>@(item.ExpiryDate.HasValue ? item.ExpiryDate.Value.ToString("dd/MM/yyyy") : "")</td>
                                                            <td>@(item.ContractValue.HasValue ? item.ContractValue.Value.ToString("N0") : "0")</td>
                                                            <td>@item.UserName</td>
                                                            <td>
                                                                <button type="button" class="view-contract btn btn-primary " style="width:80px" data-id="@item.RevenueDebtId" data-year="@item.Year">
                                                                    <i class="fa fa-street-view"></i> Xem
                                                                </button>
                                                                <button type="button" class="delete-contract btn btn-danger " style="width:80px" data-id="@item.RevenueDebtId">
                                                                    <i class="fa fa-remove"></i> Xóa
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        @{
                                            string url = "/Home/RevenueDebt" +
                                             "?Key=" + Model.Key;
                                            ;
                                        }
                                        @Html.Raw(ContractManagement.Libs.Helpers.BuildPagging(Model.TotalPage, Model.CurrentPage, url))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>