﻿.uppercase {
    text-transform: uppercase;
}

.custom-form-size {
    width: 50%; /* Định nghĩa chiều rộng mong muốn, ví dụ: 80% */
    margin: 100px auto; /* Để căn giữa form, nếu muốn */
    /* Các thuộc tính CSS khác nếu cần */
}
.border{
    border:1px solid black!important;

}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    vertical-align: middle !important; /* căn giữa theo chiều cao */
}
th, td {
    border: 1px solid black !important;

    padding: 8px;
    text-align: center; /* Căn giữa nội dung trong ô */
}
.preserve-line {
    white-space: pre-line;
}
.mg-left20{
    margin-left:20px;
}
.col-md-25 {
    flex: 0 0 auto;
    width: 20%;
    padding-left: 20px;
}

.container-1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    width: 100%;
}

.chenanh {
    color: black;
    margin-right: 30px;
    line-height: 1.0 !important;
    padding: 3px;
}

.hopdong {
    line-height: 1.0;
    background: #031078;
    padding: 5px 2px;
}

    .hopdong.active {
        line-height: 1.0;
        background: #007bff;
        padding: 5px 2px;
    }

.hide {
    display: none !important;
}

.item1 {
    grid-column: 1 / 7;
    width: 100%;
    height: 40px;
    background-color: #1ab394
}


.item2 {
    grid-column: 7/span 2;
    text-align: center;
    width: 100%;
    height: 40px;
}

.item3 {
    grid-column: 9 /span 1;
    width: 100%;
    height: 40px;
    background-color: #1ab394
}


.item6 {
    font-size: 18px;
    margin-top: 10px;
    color: #1ab394;
}

.item7 {
    padding-left: 30px
}

.item8 {
    margin-right: 5px !important;
}

.cangiua {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.padding-item {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.f-picture {
    border: dashed 1px #1ab394;
}

.item-box {
    padding: 0px 0px 0px 4px;
    width: 30px;
    height: 30px;
    /*border-radius: 50%;
    background-color: #1ab394;*/
    text-align: center;
    color: #1ab394;
    font-size: 18px
}

.item-box-parent {
    display: flex;
    margin-bottom: 5px
}

.item-border {
    border: 1px solid #1ab394;
    width: 100%;
    height: 100%;
}

.border-frame {
    border: 1px solid #1ab394;
    width: 100%;
    height: 100%;
}

.item-h {
    margin: 7px 0px 0px 0px !important;
}

.item-title {
    color: #1ab394;
    font-size: 18px
}

.item-title1 {
    color: #1ab394;
    font-size: 20px;
    margin-top: 10px
}

.main {
    color: black;
}

.a-profile :hover {
    color: #007bff !important;
}

td {
    padding: 10px !important;
    cursor: pointer;
}

.fcolor {
    color: #1ab394;
}

.item-label {
    font-size: 14px
}

.dropdown-divider {
    margin: 0.3rem 0;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto auto auto auto;
    border-radius: 10px;
    margin: auto;
}

.grid-container1 {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto auto;
    border-radius: 10px;
    margin: auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    width: 100px;
    height: 100px
}

.grid-item1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px rgba(0, 0, 0, 0.8);
    font-size: 15px;
    color: #1ab394;
    text-align: center;
    width: 100px;
    height: 140px
}

.img-frame {
    width: 160px;
    height: 178px;
    text-align: center;
    padding: 10px;
}

.personal-img {
    width: 120px;
    height: 160px;
    margin: auto;
}

.noflex {
    margin-left: 30px;
    font-family: 'Times New Roman';
    font-size: 16px;
}

.flex2 {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
    font-family: 'Times New Roman';
    font-size: 16px;
}

.flex13 {
    display: grid !important;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Times New Roman';
    margin-left: 20px;
    font-size: 16px;
}

.flex3 {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
    font-family: 'Times New Roman';
    font-size: 16px;
}

.font {
    margin-left: 30px;
    font-family: 'Times New Roman';
    font-size: 16px;
}
.font14 {
    margin-left: 10px;
    font-family: 'Times New Roman';
    font-size: 14px;
}
.font-mg10 {
    margin-left: 10px;
    font-family: 'Times New Roman';
    font-size: 16px;
}
.font-mg0 {
    margin-left: 0px;
    font-family: 'Times New Roman';
    font-size: 16px;
}
@media (max-width: 768px) {
    .font {
        margin-left: -13px;
        font-family: 'Times New Roman';
        font-size: 16px;
    }

    .border-frame {
        border: none;
        width: 100%;
        height: 100%;
    }
}



.personal-img1 {
    width: 100px;
    height: 100px;
}

.birth-img1 {
    width: 100px;
    height: 140px;
}

.figure-fit {
    line-height: 0 !important;
}

.figure-div {
    overflow: hidden;
    padding-top: 130%;
    background: #e5e5e5;
    width: 100% !important;
    position: relative;
}

.figure-div1 {
    overflow: hidden;
    padding-top: 100%;
    background: #e5e5e5;
    width: 100% !important;
    position: relative;
}

.figure-div2 {
    overflow: hidden;
    padding-top: 60%;
    background: #e5e5e5;
    width: 100% !important;
    position: relative;
}

.figure-div3 {
    overflow: hidden;
    padding-top: 140%;
    background: #e5e5e5;
    width: 100% !important;
    position: relative;
}

.figure-img {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
}

.img-option {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgb(86 96 117 / 70%);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}

.item-show {
    display: block !important;
}

.profile-e .dropdown-toggle::after {
    display: none;
}

.add-right {
    position: absolute;
    right: 20px;
}

.viewfile {
    width: 100%;
    height: auto;
    margin: auto;
}

.xoa {
    width: 150px;
    height: 100px;
    float: left;
    margin: 10px 10px;
}

.anh {
    width: auto !important;
    height: 30px;
    margin: 0 10px;
}

.view1file {
    width: 150px !important;
    height: 100px;
    margin: auto;
}

.btn-button-item {
    color: #1ab394;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

    .btn-button-item:hover {
        color: #fff;
        background-color: #1ab394;
        border-color: #1ab394;
    }

.chart-tiltle {
    display: flex;
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .w12-100 {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }

    .w12-50 {
        width: 50% !important;
        flex: 0 0 50% !important;
    }

    .w12-33 {
        width: 33% !important;
        flex: 0 0 33% !important;
    }
}

@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: auto auto auto auto !important;
    }

    .grid-item {
        width: 80px;
        height: 80px;
    }

    .personal-img1 {
        width: 80px;
        height: 80px;
    }

    .grid-item1 {
        width: 80px;
        height: 112px;
    }

    .birth-img1 {
        width: 80px;
        height: 112px;
    }
}

@media (max-width: 768px) {
    .wight-50 {
        width: 50% !important;
    }

    .wight-25 {
        width: 25% !important;
    }

    .wight-33 {
        width: 33% !important;
    }

    .wight-10 {
        width: 10% !important;
    }

    .wight-80 {
        width: 80% !important;
    }

    .wight-30 {
        width: 30% !important;
    }

    .wight-40 {
        width: 40% !important;
    }

    .wight-60 {
        width: 60% !important;
    }

    .profile {
        padding: 0px !important;
    }

    .profile-1 {
        padding: 0px 5px !important;
    }

    .profile-2 {
        padding: 0px 5px !important;
    }

    .hide-e {
        display: none !important;
    }

    .item9 {
        margin: 10px;
        text-align: center;
        height: 140px;
    }

    .get-title-22 {
        font-size: 22px !important;
        margin-top: 10px !important;
    }

    .item11 {
        font-size: 22px !important;
    }

    .item6 {
        font-size: 16px !important;
    }

    .item-title {
        font-size: 16px !important;
    }

    .item-fs-16px {
        font-size: 16px !important;
    }

    .item-fs-22px {
        font-size: 22px !important;
    }

    .item-fs-13px {
        font-size: 13px !important;
    }

    .item12 {
        height: 10px !important;
    }

    .p-title {
        padding: 15px 15px 8px 15px;
    }

    .wrapper-pc {
        padding: 0px 5px 10px 5px
    }

    .w12-50 {
        width: 100% !important;
        flex: 0 0 100% !important;
    }

    .w12-33 {
        width: 100% !important;
        flex: 0 0 100% !important;
    }
}

@media (max-width: 400px) {
    .grid-container {
        grid-template-columns: auto auto auto !important;
    }
}

.modal-img {
    background-color: rgba(0, 0, 0, 0.7);
}

.div-img {
    position: relative;
    pointer-events: auto;
}

.add-imgins {
    border: dashed 1px #1ab394;
    background: #fff !important;
}

.item-delete-box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e5e5e5;
    position: absolute !important;
}

.item-delete-p {
    font-size: 24px;
    color: red;
    margin-top: 14px !important;
    margin-right: 8px !important
}

.zoom-div-img {
    position: absolute;
    background: #0000008a;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 50px;
    color: #fff;
    text-align: center;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 1;
}

.hovertext {
    position: relative;
    width: 500px;
    text-decoration: none !important;
    text-align: center;
}

    .hovertext::after {
        content: attr(title);
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0.5em 20px;
        width: 460px;
        background: rgba(0,0,0,0.8);
        text-decoration: none !important;
        color: #fff;
        opacity: 0;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
    }

    .hovertext:hover::after, .hovertext:focus::after {
        opacity: 1.0;
    }

.text-test-right {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding-top: 5px;
}

.text-test-left {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding-top: 5px;
}

.get-title-22 {
    color: #1ab394;
    font-size: 25px;
    margin-top: 20px
}

.item11 {
    color: #1ab394;
}

.item12 {
    width: 100%;
    height: 20px;
}




.form-group label {
    font-weight: bold;
}

td {
    vertical-align: middle !important;
}

.select2.select2-container {
    width: 100% !important;
}

.select2-dropdown {
    z-index: 2051 !important;
}

a .chosen-single {
    height: 35.58px !important;
    margin-top: -2px !important;
    border-radius: unset !important;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

tr.active {
    background: #f3f3f4;
}
/*set-height*/
.h50 {
    height: 50px;
}

.min-h500 {
    min-height: 500px;
}

.w-full {
    width: 100% !important;
}

.h-full {
    height: 100% !important;
}

.pd0 {
    padding: 0 !important;
}

.pd5 {
    padding: 5px;
}

.pr5 {
    padding-right: 5px !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pd10 {
    padding: 10px;
}

.pl30 {
    padding-left: 30px;
}

.border {
    border: 1px solid #e5e5e5;
}

.border-top-e5 {
    border-top: 1px solid #e5e5e5;
}

.border-bot-e5 {
    border-bottom: 1px solid #e5e5e5;
}

.border-left-e5 {
    border-left: 1px solid #e5e5e5;
}

.border-right-e5 {
    border-right: 1px solid #e5e5e5;
}
/*set-margin-right*/
.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr50 {
    margin-right: 50px;
}

.mr100 {
    margin-right: 100px;
}
/*set-margin-left*/
.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml50 {
    margin-left: 50px;
}

.ml100 {
    margin-left: 100px;
}
/*set-margin-top*/
.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}
/*set-margin-bottom*/
.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb100 {
    margin-bottom: 100px;
}


/*select-ui*/
select.form-control {
    height: 35.58px !important;
}

.cursor {
    cursor: pointer;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tr-set-active {
    background: #000000a6;
    color: white;
}

.gray {
    color: #676a6c;
}

.relative {
    position: relative;
}

.pic-thumb {
    overflow: hidden;
    padding-top: 56.25%;
    background: #e5e5e5;
}

    .pic-thumb img, .pic-thumb iframe {
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: none;
    }

.pic-11 {
    padding-top: 100%;
}

.bold {
    font-weight: bold;
}

.font14 {
    font-size: 14px;
}

.font15 {
    font-size: 15px;
}

.font16 {
    font-size: 16px;
}

.font17 {
    font-size: 17px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font25 {
    font-size: 25px;
}

.font30 {
    font-size: 30px;
}

.italic {
    font-style: italic;
}

.grid {
    display: grid;
    align-content: space-evenly;
}



.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-25 {
    gap: 25px;
}


.grid-form {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: 100px 1fr;
    gap: 20px;
}

.navbar-fixed {
    padding: 5px 10px;
    line-height: 35px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid #e6e6e6;
    z-index: 1;
    background: white;
}

.navbar-minimalize {
    position: absolute;
    /*    top: 50%;
    margin-top: -18px;*/
}

.abs-sign-out {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
    padding-right: 20px;
}

.border {
    border: 1px solid #e5e5e5
}

.menu-right {
    display: block;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 30px lightgrey;
    position: absolute;
    z-index: 2;
}

    .menu-right .menu-item {
        padding: 10px;
        border-bottom: 1px solid #e5e5e5;
        color: #676a6c;
    }

        .menu-right .menu-item:hover {
            color: white;
            background: #1ab394;
        }

.navbar-grid {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: 100px 1fr 100px;
    padding: 5px 50px;
    line-height: 35px;
    max-width: 1000px;
    margin: auto;
}

.grid-form strong {
    line-height: 35px;
}

.grid {
    display: grid;
    align-content: space-evenly;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    grid-template-columns: 100px 1fr 1fr;
}

.forms-sample {
    padding: 0px;
    /*border: 1px solid #1ab394;*/
}

.lh-35 {
    line-height: 35px;
}



.lh-50 {
    line-height: 50px;
}

.sticky-box {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 64px;
    z-index: 1;
    padding: 10px
}

.float-e-margins .btn {
    margin-bottom: 0px;
}

.search-tool {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 64px;
    background: white;
    z-index: 1;
    margin: 0px;
}

.min-w200 {
    width: 200px !important;
}

.view-more {
    height: 30px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    line-height: 30px;
}

.list-file {
    background: white;
    min-height: 100vh;
    padding: 35px 25px;
}

.grid-file {
    display: grid;
    align-content: space-evenly;
    gap: 25px;
}

    .grid-file .document-item {
        border: solid #e5e5e5 1px;
        border-radius: 5px;
    }

    .grid-file .file-icon {
        padding: 10px;
    }

        .grid-file .file-icon i {
            font-size: 30px;
        }

    .grid-file .file-time {
        display: none;
    }

    .grid-file .create-name {
        display: none;
    }

    .grid-file .file-size {
        display: none;
    }

    .grid-file .file-name span {
        padding: 5px;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 20px;
        word-wrap: break-word;
        width: 100%;
    }

    .grid-file .file-name {
        border-top: solid #e5e5e5 2px;
        padding-top: 48px;
        overflow: hidden;
    }










.row-file .document-item {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: 30px 3fr 1fr 60px 1fr;
    padding: 10px;
    border-bottom: solid 1px #e5e5e5;
    background: white;
    gap: 10px
}

.row-file.list-trash .document-item {
    grid-template-columns: 30px 1fr 60px !important;
}

.document-item {
    cursor: pointer;
    position: relative;
}

    .document-item:hover {
        background: #eeeeee;
    }

    .document-item.active {
        background: #1c84c63b;
        color: #1c84c6;
        font-weight: 600;
    }


.dropzone {
    padding: 0 !important;
    margin: 10px 5px;
}

.sticky-row {
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    margin: 0px;
}

.inmodal .modal-header {
    padding: 8px 15px !important;
}

.modal h3 {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-body {
    background: white !important;
    padding: 1rem !important;
}

.border-none {
    border: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6c757d9e;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

@media (min-width: 0px) {
    .grid-file {
        grid-template-columns: repeat(2, 1fr);
    }

    .hide-mobile {
        display: none;
    }
}

@media (min-width: 360px) {
}

@media (min-width: 768px) {
    .hide-mobile {
        display: unset;
    }
}

@media (min-width: 992px) {
    .grid-file {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-file {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1600px) {
    .grid-file {
        grid-template-columns: repeat(8, 1fr);
    }
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd; /* Màu và độ dày của border */
    padding: 8px; /* Khoảng cách giữa nội dung và border */
    text-align: left; /* Căn lề nội dung trong ô */
}