﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phần mềm quản lý hợp đồng | Login</title>
    <link href="~/Content/theme/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/theme/css/animate.css" rel="stylesheet" />
    <link href="~/Content/theme/css/style.css" rel="stylesheet" />
    <link href="~/Content/theme/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/theme/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet" />
    <link href="~/Content/theme/css/plugins/switchery/switchery.css" rel="stylesheet" />
    <link href="~/Content/theme/css/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/theme/css/plugins/dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/Content/css/common.css" rel="stylesheet" />
    <link href="~/Content/theme/font-awesome/css/font-awesome.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
</head>

<body class="gray-bg">
    <input type="hidden" id="config_site"
           data-authen-login="@System.Configuration.ConfigurationManager.AppSettings["AUTHEN_LOGIN"]" />
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 style="font-size:50px;">Phần mềm quản lý hợp đồng</h1>
            </div>
            <button type="button" class="btn btn-primary block full-width m-b btn-login" data-toggle="modal" data-target="#exampleModal">Login</button>
        </div>
    </div>

    <!-- Mainly scripts -->

    @Scripts.Render("~/bundles/script/mainly")
    @Scripts.Render("~/js/login")
    <!-- Custom and plugin javascript -->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <iframe id="LoginForm" style="width:100%;height:380px;border: none;"></iframe>
                </div>

            </div>
        </div>
    </div>

</body>

</html>
